/* Riguarda rapporto.php */

body{
    background-image: url(../contentMedia/COVID-19.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#start{
    bottom:30px;
    right:30px;
    z-index: 10;
    position: fixed;
    margin: 0;
    padding: 0;
}

#separatore{
    padding-top: 80px;
    
}

#content{
    margin-top:2rem;
    width:100%;
    text-align: center;
}

.chart-container{
    width:100%;
    margin: auto;
    margin-bottom:3rem;
}

.pie-chart-container{
    width:40%;
    margin:0 auto;
}

.andamento-chart-container{
    width:100%;
    margin:0 auto;
}

.andamento-chart{
    width:50%;
    margin:0 auto;
}

.tot-chart-container{
    width:100%;
    margin:0 auto;
}

.tot-chart{
    width:50%;
    margin:0 auto;
}


