#start{
    bottom:30px;
    right:30px;
    z-index: 10;
    position: fixed;
    margin: 0;
    padding: 0;
}

#separatore{
    padding-top: 80px;
    
}

#content{
    width:100%;
    text-align: center;
}

.chart-container{
    width:100%;
    height: 400px;
    margin: 0 auto;
    
}

.pie-chart-container{
    width:600px;
    height:600px;
    margin: 0 auto;
    
}

.andamento-chart-container{
    width:100%;
    height: 500px;
    margin: 0 auto;
}

.andamento-chart{
    width:800px;
    height:400px;
    margin: 0 auto;
}

.tot-chart-container{
    width:100%;
    height: 500px;
    margin: 0 auto;
}

.tot-chart{
    width:800px;
    height:400px;
    margin: 0 auto;
}


