/* Pagina di stile di tabels.php */

body{
    background-image: url(../contentMedia/COVID-19.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#divtab{
    padding-top: 50px;
}

#start{
    bottom:30px;
    right:30px;
    z-index: 10;
    position: fixed;
    margin: 0;
    padding: 0;

}