body{
    background-image: url(../contentMedia/COVID-19.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#start{
    bottom:30px;
    right:30px;
    z-index: 10;
    position: fixed;
    margin: 0;
    padding: 0;
}

#separatore{
    padding-top: 80px;
    
}

#barraLaterale{
    border-left: 2px solid black;
    text-align:center;
    align-content:center;
    margin-top:8rem;
}

#titleBL{
    text-align:center;
    margin-bottom:20px  
}

#blocchiBL{
    align-content: center;
    border: 2px solid black;
    text-align:center;
    
}

#spaceBL{
    margin-bottom:20px;
}


.chart-container{
    width:100%;
    height: 400px;
    margin: 0 auto;
}

.line-chart-container{
    width: 80%;
    margin-top: 2rem;
    margin-right:auto;
    margin-left:auto;
}

.pie-chart-container{
    width:80%;
    margin-top: 2rem;
    margin-right:auto;
    margin-left:auto;   
}


