#start{
    bottom:30px;
    right:30px;
    z-index: 10;
    position: fixed;
    margin: 0;
    padding: 0;
}

#separatore{
    padding-top: 80px;
    
}

#barraLaterale{
    border-left: 2px solid black;
    text-align:center;
    align-content:center;
}

#titleBL{
    text-align:center;
    margin-bottom:20px  
}

#blocchiBL{
    align-content: center;
    border: 2px solid black;
    text-align:center;
    
}

#spaceBL{
    margin-bottom:20px;
}

